#!/bin/bash

if [ "$DEBUG" == "1" ]; then
  set -x
fi

mkdir -p /dev/net
if [ ! -c /dev/net/tun ]; then
    mknod /dev/net/tun c 10 200
fi

echo "Starting OpenVPN server"
exec openvpn --config /etc/openvpn/server.conf
